<ng-template [ngIf]="topic$ | async" let-topic>
    <mat-toolbar>
        <matx-back-button></matx-back-button>
      <div class="col">{{topic.title}}</div>
      <button mat-icon-button *ngIf="(user$ | async)?.uid === topic.createdBy" routerLink="/edit-topic/{{topic.uid}}">
          <mat-icon>create</mat-icon>
      </button>
    </mat-toolbar>

  <section>
    <div class="container">
      <img [src]="topic.photoUrl" width="200">
      <p>{{topic.description}}</p>
    </div>
  </section>
</ng-template>
