<mat-toolbar>
  <matx-back-button defaultHref="/home"></matx-back-button>
  <div class="col">Propose Topic</div>
</mat-toolbar>

<section>
  <form #form="ngForm" (submit)="save()" (keydown.enter)="save()" class="container mt-4">
    <matx-input label="Title" name="title" #title="ngModel" [(ngModel)]="model.title" required minlength="1" maxlength="50">
      <matx-errors [field]="title"></matx-errors>
    </matx-input>
    <matx-input label="Photo Url" name="photoUrl" #photoUrl="ngModel" [(ngModel)]="model.photoUrl"><
      <matx-errors [field]="photoUrl"></matx-errors>
    </matx-input>
    <mat-form-field class="w-100">
      <textarea matInput placeholder="Description" name="description" #description="ngModel" [(ngModel)]="model.description"
                required rows="5" maxlength="120"><
      </textarea>
      <mat-error>
        <matx-errors [field]="description"></matx-errors>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
  </form>
</section>
