<mat-toolbar>
  <matx-menu-button></matx-menu-button>
  <div class="col">Login</div>
</mat-toolbar>

<section>
  <form #form="ngForm" (submit)="login()" class="container mt-4">
    <matx-input label="Email" name="email" #email="ngModel" [(ngModel)]="credentials.email" required email>
      <matx-errors [field]="email"></matx-errors>
    </matx-input>
    <matx-input type="password" label="password" name="password" #password="ngModel" [(ngModel)]="credentials.password" required>
      <matx-errors [field]="password"></matx-errors>
    </matx-input>

    <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
    <button mat-raised-button type="button" (click)="loginWithGoogle()">
      <mat-icon>logo_google</mat-icon>
      Login with Google
    </button>
    <button mat-stroked-button type="button" routerLink="/register">Register</button>
  </form>
</section>
