<mat-toolbar>
    <matx-back-button></matx-back-button>
    <div class="col">Register</div>
</mat-toolbar>

<section>
  <form #form="ngForm" (submit)="register()" class="container">
    <matx-input label="Name" name="name" #name="ngModel" [(ngModel)]="credentials.name" required autocomplete="name">
      <matx-errors [field]="name"></matx-errors>
    </matx-input>
    <matx-input label="Description" name="description" #description="ngModel" [(ngModel)]="credentials.description" required>
      <matx-errors [field]="description"></matx-errors>
    </matx-input>
    <matx-input label="Email" name="email" #email="ngModel" [(ngModel)]="credentials.email" required email>
      <matx-errors [field]="email"></matx-errors>
    </matx-input>
    <matx-input label="Confirm Email" name="confirmEmail" #confirmEmail="ngModel" [(ngModel)]="credentials.confirmEmail" required equalTo="email">
      <matx-errors [field]="confirmEmail" [errorMessages]="{notEqualTo: 'Emails should match'}"></matx-errors>
    </matx-input>
    <matx-input label="Password" type="password" name="password" #password="ngModel" [(ngModel)]="credentials.password" required minlength="6">
      <matx-errors [field]="password"></matx-errors>
    </matx-input>
    <matx-input label="Confirm Password" type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="credentials.confirmPassword"
                required minlength="6" equalTo="password">
      <matx-errors [field]="confirmPassword" [errorMessages]="{notEqualTo: 'Passwords should match'}"></matx-errors>
    </matx-input>

    <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Register</button>
  </form>
</section>
