<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form (submit)="register()" (keydown.enter)="register()">
    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <ion-input name="name" [(ngModel)]="credentials.name" required autocomplete="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description:</ion-label>
      <ion-input name="description" [(ngModel)]="credentials.description" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input name="email" [(ngModel)]="credentials.email" required email></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Email:</ion-label>
      <ion-input name="confirmEmail" [(ngModel)]="credentials.confirmEmail" required equalTo="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password:</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="credentials.password" required minlength="6"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password:</ion-label>
      <ion-input type="password" name="confirmPassword" [(ngModel)]="credentials.confirmPassword" required minlength="6"
                 equalTo="password"></ion-input>
    </ion-item>

    <ion-button type="submit" margin-top margin>Register</ion-button>
  </form>
</ion-content>
