<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Proposed Topics
    </ion-title>
    <!--    <ion-buttons slot="end">-->
    <!--      <ion-button><ion-icon name="search"></ion-icon></ion-button>-->
    <!--    </ion-buttons>-->
    <ion-buttons slot="end" *ngxPermissionsOnly="['ADMIN', 'SPEAKER']">
      <ion-button routerLink="/propose-topic">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let topic of topics$ | async">
      <ion-thumbnail slot="start">
        <img [src]="topic.photoUrl || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'">
      </ion-thumbnail>
      <ion-label>
        <h2>{{topic.title}}</h2>
        <p>{{topic.description}}</p>
        <p>Votes: {{topic.positiveVotes?.length - topic.negativeVotes?.length}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button [color]="topic.positiveVotes && topic.positiveVotes.includes(user && user.uid) ? 'primary' : 'medium'"
                    (click)="votePositive(topic)">
          <ion-icon name="thumbs-up" size="large"></ion-icon>
        </ion-button>
        <ion-button [color]="topic.negativeVotes && topic.negativeVotes.includes(user && user.uid) ? 'primary' : 'medium'"
                    (click)="voteNegative(topic)">
          <ion-icon name="thumbs-down" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
