<mat-toolbar>
  <matx-menu-button></matx-menu-button>
  <div class="col">
    Proposed Topics
  </div>
  <button mat-icon-button *ngxPermissionsOnly="['ADMIN', 'SPEAKER']" routerLink="/propose-topic">
      <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<section>
  <mat-list>
    <mat-list-item *ngFor="let topic of topics$ | async">
      <img matListAvatar [src]="topic.photoUrl || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'">
      <h1 matLine><a routerLink="/topic/{{topic.uid}}">{{topic.title}}</a></h1>
      <p mat-line>{{topic.description}}</p>
      <p mat-line>Total Score: {{topic.positiveVotes?.length - topic.negativeVotes?.length}}</p>
      <button mat-icon-button [color]="topic.positiveVotes && topic.positiveVotes.includes(user && user.uid) ? 'primary' : null"
              (click)="votePositive(topic)">
        <mat-icon>thumb_up</mat-icon>
        {{topic.positiveVotes?.length}}
      </button>
      <button mat-icon-button [color]="topic.negativeVotes && topic.negativeVotes.includes(user && user.uid) ? 'primary' : null"
              (click)="voteNegative(topic)">
        <mat-icon>thumb_down</mat-icon>
        {{topic.negativeVotes?.length}}
      </button>
    </mat-list-item>
  </mat-list>
</section>
