* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #c8263f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.compent-wrapper {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  flex: 1;
}

nav, footer {
  background: #027ec5;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar li {
  flex: 1 0 100%;
  padding: 1rem;
  text-align: center;
  color: #fff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li:hover {
  background: #b9011d;
  cursor: pointer;
}

.nav-logo {
  margin-right: auto;
}

.logo {
  max-height: 50px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 1rem;
}

.footer-logo, .contact {
  flex: 1 0 100%;
  text-align: center;
}

img.footerlogo {
    max-height: 85px;
}

.contact {
  color: #fff;
}

@media screen and (min-width: 500px) {
  .navbar li {
    flex: 1 0 auto;
  }

  .footer-logo, .contact {
    flex: 1 0 50%;
  }

  .footer-logo {
    text-align: left;
  }

  .contact {
    text-align: right;
  }
}

@media screen and (min-width: 767px) {
  .speaker-details {
    display: flex;
  }

  .speaker-details li {
    padding: .5rem;
    flex: 1 0 25%;
    border: 1px solid #ccc;
  }

  .tech,
  .topic {
    margin: .2rem;
  }
}
