* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #c8263f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.compent-wrapper {
    max-width: 932px;
    width: 100%;
    margin: 75px auto;
    padding: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.hamburger-container {
	/*margin: 0;*/
	position: fixed;
	overflow: hidden;
	width: 70px;
	height: 100px;
	overflow: auto;
  margin-left: .7em;
	/*right: calc(100% - 100px);*/
	/*top: 20px;*/
}

.top, .middle, .bottom{
	position: absolute;
	width: 62px;
	height: 10px;
	background-color: black;
	-webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
	top: 20px;
}

.middle {
	top: 40px;
}

.bottom {
	top: 60px;
}

.menu {
  position: fixed;
  /* right: calc(100% - 292px); */
  /* top: 10px; */
  color: black;
  display: none;
  margin: 68px -16px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 100;
  font-size: 17px;
  text-transform: uppercase;
  /*background: #027ec5;*/
  padding: 24px;
  min-width: 160px;
  text-align: left;
}

.menu a li {
	text-decoration: none !important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 1px solid black;
	list-style: none;
	color: black;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

.menu a li:hover {
	color: #00abff;
	padding-right: 3px;
}

.menu a {
	text-decoration: none;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: red;
	height: 2px;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: red;
	height: 2px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

header {
    position: fixed;
    width: 100%;
}

header, footer {
  background: #027ec5;
}

.logo {
    max-height: 80px;
    float: right;
    margin: 6px 9px 0px 0px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ccc;
  padding: 1rem;
}

.footer-logo, .contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  text-align: center;
}

img.footerlogo {
    max-height: 85px;
}

.contact {
  color: #fff;
}

@media screen and (min-width: 500px) {
  .navbar li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .footer-logo, .contact {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .footer-logo {
    text-align: left;
  }

  .contact {
    text-align: right;
  }
}

@media screen and (min-width: 767px) {
  .speaker-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .speaker-details li {
    padding: .5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    border: 1px solid #ccc;
  }

  .tech,
  .topic {
    margin: .2rem;
  }
}
